@mixin media-query($breakpoint) {
    @if($breakpoint==0) {
        @content;
    }

    @else {
        @media screen and (min-width: $breakpoint *1px) {
            @content;
        }
    }
}

@mixin make-container($breakpoint) {
    @include media-query($breakpoint) {
        @if ($breakpoint==0) {
            .container {
                max-width: 100%;
                padding: 0 15px;
            }
        }

        @else {
            .container {
                max-width: $breakpoint * 1px;
                margin: 0 auto;
                padding: 0 15px;
            }
        }
    }
}

@mixin make-columns($modifier, $grid-cols, $breakpoint) {
    @include media-query($breakpoint) {
        @if ($breakpoint==0) {
            @for $i from 1 through $grid-cols {
                &.col#{$modifier}-#{$i} {
                    flex-basis: (100 / ($grid-cols / $i)) * 1%;
                    max-width: (100 / ($grid-cols / $i)) * 1%;
                }
            }
        }

        @else {
            @for $i from 1 through $grid-cols {
                &.col-#{$modifier}-#{$i} {
                    flex-basis: (100 / ($grid-cols / $i)) * 1%;
                    max-width: (100 / ($grid-cols / $i)) * 1%;
                }
            }
        }
    }
}

@mixin make-column-offset($modifier, $grid-columns, $breakpoint) {
    @include media-query($breakpoint) {
        @if ($breakpoint==0) {
            @for $i from 1 through $grid-columns {
                &.col#{$modifier}-offset-#{$i} {
                    margin-left: (100 / ($grid-columns / $i)) * 1%;
                }
            }
        }

        @else {
            @for $i from 1 through $grid-columns {
                &.col-#{$modifier}-offset-#{$i} {
                    margin-left: (100 / ($grid-columns / $i)) * 1%;
                }
            }
        }
    }
}

@mixin make-alignment($modifier, $breakpoint, $text-align) {
    @include media-query($breakpoint) {
        @if ($breakpoint==0) {
            .text-left {
                text-align: left !important;
            }

            .text-right {
                text-align: right !important;
            }

            .text-center {
                text-align: center !important;
            }

            .text-justify {
                text-align: justify !important;
            }
        }

        @else {
            .text-#{$modifier}-left {
                text-align: left !important;
            }

            .text-#{$modifier}-right {
                text-align: right !important;
            }

            .text-#{$modifier}-center {
                text-align: center !important;
            }

            .text-#{$modifier}-justify {
                text-align: justify !important;
            }
        }
    }
}

@mixin make-heading() {
    @for $i from 1 to 7 {
        h#{$i},
        .h#{$i} {
            margin: 0 0 $margin-base-y 0;
        }
    }
}

@mixin make-spacers($modifier, $breakpoint, $spacers) {
    @include media-query($breakpoint) {
        @if ($breakpoint == 0){
            @for $i from 0 through $spacers {
                .m-#{$i} {
                    margin: $i*1em !important;
                }
                .mt-#{$i} {
                    margin-top: $i*1em !important;
                }
                .mb-#{$i} {
                    margin-bottom: $i*1em !important;
                }
                .ml-#{$i} {
                    margin-left: $i*1em !important;
                }
                .mr-#{$i} {
                    margin-right: $i*1em !important;
                }
                .p-#{$i} {
                    padding: $i*1em !important;
                }
                .pt-#{$i} {
                    padding-top: $i*1em !important;
                }
                .pb-#{$i} {
                    padding-bottom: $i*1em !important;
                }
                .pl-#{$i} {
                    padding-left: $i*1em !important;
                }
                .pr-#{$i} {
                    padding-right: $i*1em !important;
                }
            }
        } @else {
            @for $i from 0 through $spacers {
                .m-#{$modifier}-#{$i} {
                    margin: $i*1em !important;
                }
                .mt-#{$modifier}-#{$i} {
                    margin-top: $i*1em !important;
                }
                .mb-#{$modifier}-#{$i} {
                    margin-bottom: $i*1em !important;
                }
                .ml-#{$modifier}-#{$i} {
                    margin-left: $i*1em !important;
                }
                .mr-#{$modifier}-#{$i} {
                    margin-right: $i*1em !important;
                }
                .p-#{$modifier}-#{$i} {
                    padding: $i*1em !important;
                }
                .pt-#{$modifier}-#{$i} {
                    padding-top: $i*1em !important;
                }
                .pb-#{$modifier}-#{$i} {
                    padding-bottom: $i*1em !important;
                }
                .pl-#{$modifier}-#{$i} {
                    padding-left: $i*1em !important;
                }
                .pr-#{$modifier}-#{$i} {
                    padding-right: $i*1em !important;
                }
            }
        }
    }
}

@mixin text-color($name, $value) {
    .text-#{$name} {
        color: $value !important;
    }
}

@mixin make-widths($width) {
    @for $i from 0 through $width {
        .w-#{$i} {
            width: $i * 1% !important;
            margin: 0 auto;
        }
    }
}

@mixin border-box {
    box-sizing: border-box;
}

@mixin box-shadow($box-shadow) {
    box-shadow: $box-shadow;
}

@mixin transition($transition) {
   @if ($enable-transitions) {
        transition: $transition;  
   }  
}

@mixin rounded($rounded) {
    @if ($enable-rounded) {
         border-radius: $rounded; 
    }  
 }

 @mixin optional-at-root($sel) {
    @at-root #{if(not &, $sel, selector-append(&, $sel))} {
      @content;
    }
  }
  
  @mixin placeholder {
    @include optional-at-root('::-webkit-input-placeholder') {
      @content;
    }
  
    @include optional-at-root(':-moz-placeholder') {
      @content;
    }
  
    @include optional-at-root('::-moz-placeholder') {
      @content;
    }
  
    @include optional-at-root(':-ms-input-placeholder') {
      @content;
    }
  }

  @mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

@mixin font-size($sizeValue: 1) {
    font-size: $sizeValue + em;
  }