h1,
h2,
h3,
h4,
h5,
h6 {
	color: $default;
	font-weight: $heading-base-font-weight;
	line-height: 1.3;
	font-family: $heading-base-font-family;

	small {
		font-size: 75%;
		color: $default;
	}
}

h1 {
	font-size: 30px;
	margin: 20px 0;
	@include mq("lg") {
		& {
			font-size: 43px;
		}
	}

	strong {
		font-family: "radikalmedium";
		font-weight: normal;
	}
}

h2 {
	font-size: 20px;
	@include mq("lg") {
		& {
			font-size: 28px;
		}
	}
	strong {
		font-family: "radikalmedium";
		font-weight: normal;
	}
}

h3 {
	font-size: 22px;
	strong {
		font-family: "radikalmedium";
		font-weight: normal;
	}
}

h4 {
	font-size: 17px;
	@include mq("lg") {
		& {
			font-size: 18px;
		}
	}
}

p {
	font-size: 14px;
}

.title-sm {
	font-size: 20px;
}

.title-xs {
	font-size: 18px;
}
