// Options

$enable-transitions: true !default;
$enable-rounded: true !default;

// Transitions

$global-transition: all 0.3s cubic-bezier(0.3, 0, 0.7, 1) !default;

// Colors

$white: #ffffff !default;
$black: #000000 !default;

$light: #f9fafc !default;
$dark: #171a1d !default;

$default: #303236 !default;
$primary: #1063de !default;
$secondary: #f18927 !default;

$colors: (
	"white": $white,
	"light": $light,
	"dark": $dark,
	"default": $default,
	"primary": $primary,
	"secondary": $secondary,
);

$breakpoints: (
	"xs": 568px,
	"sm": 768px,
	"md": 992px,
	"lg": 1000px,
	"xl": 1180px,
);

$spacers: 5 !default;
$width: 100 !default;
$height: 100 !default;

// Grid system

$grid-columns: 12 !default;

$grid-breakpoint-xs: 568 !default;
$grid-breakpoint-sm: 768 !default;
$grid-breakpoint-md: 992 !default;
$grid-breakpoint-lg: 1000 !default;
$grid-breakpoint-xl: 1080 !default;

$grid-breakpoints: (
	"": 0,
	"xs": $grid-breakpoint-xs,
	"sm": $grid-breakpoint-sm,
	"md": $grid-breakpoint-md,
	"lg": $grid-breakpoint-lg,
	"xl": $grid-breakpoint-xl,
);

// Base variables

$font-family-base: "radikalregular" !default;
$font-size-base: 13px !default;
$font-color-base: #000;
$font-weight-base: normal !default;
$line-height-base: 1.5 !default;
$letter-spacing-base: 0px !default;
$margin-base-y: 30px !default;

$heading-base-font-size: 1.5em !default;
$heading-base-font-weight: normal !default;
$heading-base-font-family: "radikallight" !default;

$heading-1: 3.5em !default;
$heading-2: 2.5em !default;
$heading-3: 1.825em !default;
$heading-4: 1.5em !default;
$heading-5: 1.3em !default;
$heading-6: 0.9em !default;

// Box shadows

$box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important !default;
$box-shadow-md: 0 0.5rem 1rem rgba(0, 0, 0, 0.085) !important !default;
$box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.0875) !important !default;

// Buttons

$btn-padding-x: 25px !default;
$btn-padding-y: 10px !default;

$btn-text-transform: none !default;
$btn-font-weight: normal !default;
$btn-font-size: $font-size-base !default;

$btn-border-radius: 5px !default;
$btn-rounded: 35px !default;

// Forms

$input-padding-x: 15px !default;
$input-padding-y: 15px !default;

$input-text-transform: none !default;
$input-font-size: $font-size-base !default;

$input-border: 1px solid rgba($black, 0.2) !default;
$input-border-radius: 5px !default;
$input-rounded: 35px !default;
