@font-face {
	font-family: "icomoon";
	src: url("../fonts/icomoon.eot?iika87");
	src: url("../fonts/icomoon.eot?iika87#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?iika87") format("truetype"), url("../fonts/icomoon.woff?iika87") format("woff"), url("../fonts/icomoon.svg?iika87#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icomoon" !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-phone-call:before {
	content: "\e90f";
}
.icon-play-button:before {
	content: "\e910";
}
.icon-gallery:before {
	content: "\e911";
}
.icon-placeholder:before {
	content: "\e912";
}
.icon-star-full:before {
	content: "\e913";
}
.icon-star:before {
	content: "\e900";
}
.icon-arrow-down:before {
	content: "\e901";
}
.icon-arrow-left:before {
	content: "\e902";
}
.icon-arrow-right:before {
	content: "\e903";
}
.icon-arrow-up:before {
	content: "\e904";
}
.icon-close:before {
	content: "\e905";
}
.icon-facebook:before {
	content: "\e906";
}
.icon-filter:before {
	content: "\e907";
}
.icon-hearth:before {
	content: "\e908";
}
.icon-instagram:before {
	content: "\e909";
}
.icon-long-arrow-left:before {
	content: "\e90a";
}
.icon-long-arrow-right:before {
	content: "\e90b";
}
.icon-search:before {
	content: "\e90c";
}
.icon-twitter:before {
	content: "\e90d";
}
.icon-user:before {
	content: "\e90e";
}
