.accordion {
	border-radius: 9px;
	@include box-shadow(0 5px 15px 0 rgba(0, 0, 0, 0.04));
	&-item {
		border-bottom: 1px solid rgba($default, 0.05);
		position: relative;
		background: $white;

		&:last-of-type {
			border-bottom: 0;
		}

		&:after {
			content: "\e901";
			font-family: "icomoon";
			position: absolute;
			right: 25px;
			top: 25px;
			font-size: 12px;
			color: $default;
			-webkit-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
			transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
			-webkit-transform: rotate(-90deg);
			transform: rotate(-90deg);
			@include mq("md") {
				& {
					top: 17px;
					color: $default;
				}
			}
		}

		&__link {
			a {
				display: block;
				padding: 20px 15px;
				position: relative;
				z-index: 1;
				max-width: 90%;
				color: $default !important;
				font-size: 15px;
				font-weight: normal;
				font-family: "radikalregular";
				-webkit-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
				transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
				@include mq("md") {
					& {
						padding: 15px 0 15px 35px;
						max-width: 100%;
						font-size: 15px;
					}
				}
			}
			p {
				font-size: 14px;
				margin: 0 0 15px 0;
				font-family: "radikallight";
				@include mq("md") {
					& {
						padding: 0 0 0 25px;
						font-size: 14px;
					}
				}
			}
		}

		&__content {
			padding: 0 15px 15px 15px;
			p {
				font-family: "radikalregular";
			}
			@include mq("md") {
				& {
					padding: 0 55px 15px 35px;
				}
			}

			ul {
				list-style: none;
				margin: 0;
				padding: 0;
				li {
					p {
						position: relative;
						color: #707070;
						margin: 0 0 7px 0;
						font-size: 13px;
						@include mq("md") {
							& {
								color: $default;
							}
						}
						&:before {
							content: "-";
							margin-right: 0.5em;
						}
					}
				}
			}
		}

		&.is-active {
			&:after {
				-webkit-transform: rotate(0deg);
				transform: rotate(0deg);
			}
		}

		.accordion-item__link {
			a {
				color: #3f0283;
			}
		}
	}
	.car-details-info-fl {
		p {
			font-size: 14px;
			font-family: "radikalbold";
			span {
				font-size: 13px;
				font-family: "radikalregular";
			}
		}
	}

	&-sm {
		border: 0;
		.accordion-item {
			border: 0;
			border-top: 1px solid rgba($default, 0.3);
			&:last-of-type {
				border-bottom: 1px solid rgba($default, 0.3);
			}
		}
		.accordion-item__link a {
			padding: 15px 0;
		}
		.accordion-item__content {
			padding: 0 0 30px 0;
		}
	}

	&-lg {
		.car-details-info-fl {
			p {
				font-size: 14px;
				font-family: "radikalregular";
				span {
					font-size: 14px;
					font-family: "radikalregular";
				}
			}
		}
	}

	&.accordion-program-details {
		@include box-shadow(none !important);

		.accordion-item {
			border: 0;
			&:after {
				top: 23px;
				left: 0;
				right: auto;
				color: $default;
				font-size: 12px;
				@include mq("md") {
					& {
						top: 18px;
					}
				}
			}
		}
		.accordion-item__link {
			border-bottom: 1px solid rgba($default, 0.1);
			a {
				padding-left: 25px;
				padding-right: 0;
				font-size: 16px;
			}
		}
		.accordion-item__content {
			padding: 25px 0;
		}
	}
}

@media screen and(max-width: 768px) {
	.accordion-item-hidden-xs {
		&:after {
			display: none;
		}
		.accordion-item__link {
			display: none !important;
		}
		.accordion-item__content {
			display: block !important;
		}
	}
}
