.btn {
	display: inline-block;
	padding: 12px 45px;
	font-weight: 500;
	font-size: 15px;
	line-height: 1.25;
	border-radius: 7px;
	text-align: center;
	appearance: none;
	@include transition($global-transition);

	&-primary {
		background-color: $primary;
		color: $white;
		&:hover,
		&:focus {
			color: $white;
			background-color: darken($primary, 10%);
		}
	}

	&-primary-outline {
		background-color: transparent;
		color: $primary;
		border: 1px solid $primary;
		&:hover,
		&:focus {
			background-color: $primary;
			color: $white;
		}
	}

	&-light-outline {
		background-color: transparent;
		color: $white;
		border: 1px solid $white;
		&:hover,
		&:focus {
			background-color: $primary;
			color: $white;
			border: 1px solid $primary;
		}
	}

	&-light {
		background-color: $white;
		color: $default;
		&:hover,
		&:focus {
			color: $default;
			background-color: darken($white, 10%);
		}
	}

	&-dark {
		background-color: $dark;
		color: $white;
		&:hover,
		&:focus {
			color: $white;
			background-color: lighten($dark, 30%);
		}
	}

	&-icon {
		width: 40px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		padding: 0;
	}

	&-icon-text {
		display: flex;
		flex-direction: row;
		align-items: center;
		font-size: 14px;
		color: $default;
		padding: 0;

		&:focus {
			@include box-shadow(none !important);
		}
		i {
			margin-left: 0.5em;
			font-size: 9px;
			position: relative;
			top: 2px;
		}

		img {
			margin-right: 0.5em;
		}

		&-center {
			justify-content: center;
		}

		&-left {
			i {
				margin-right: 1em;
			}
		}
	}

	&-icon-text-f {
		padding: 15px 45px 15px 35px;
		i {
			margin-right: 0.7em;
		}
	}

	&-text-icon {
		padding: 12px 25px 12px 25px;
		i {
			margin-left: 1em;
			position: relative;
			top: -41x;
			font-size: 9px;
		}
	}
	&-block {
		display: block;
	}

	&-link-sm {
		padding: 15px 0 !important;
		color: $default;
		text-decoration: underline;
		&:hover,
		&:focus {
			color: $primary;
		}
	}

	&-link {
		color: $primary;
	}

	&-w {
		width: 212px;
	}

	&-opacity {
		opacity: 0.5;
		&:hover,
		&:focus {
			opacity: 1;
		}
	}
}
