.car-details-info {
	margin: 25px 0 0 0;
	@include mq("md") {
		& {
			margin: 0;
		}
	}
	&-header {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	h3 {
		font-size: 20px;
		margin: 0 0 1px 0;
		@include mq("md") {
			& {
				font-size: 25px;
			}
		}
	}
	p {
		color: #949494;
		font-family: "radikallight";
		margin: 0;
		font-size: 16px;
	}

	&-f {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		margin: 0 0 25px 0;
		div {
			h4 {
				display: block;
				font-size: 17px;
				font-family: "radikalregular";
				margin: 25px 0 5px 0;
				@include mq("md") {
					& {
						font-size: 21px;
					}
				}
				span {
					font-size: 14px;
					font-family: "radikallight";

					i {
						color: $default;
						font-size: 16px;
						margin-left: 1em;
						@include transition($global-transition);
						&:hover,
						&:focus {
							color: $primary;
						}
					}
				}
			}
			a {
				color: $primary;
				font-size: 14px;
				i {
					&:first-of-type {
						margin-right: 0.7em;
					}
				}
			}
		}
	}

	&-opt {
		margin: 30px 0 35px 0;
		background-color: #f9fafb;
		border: 1px solid #eff1f4;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 10px;
		border-radius: 6px;

		.tooltip-hover {
			right: 0;
			left: auto;
			@include mq("md") {
				& {
					right: -25px;
				}
			}
		}

		.link {
			width: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			i {
				color: $default;
			}
		}

		.tooltip {
			margin-right: 0.4em !important;
		}
		div {
			&:nth-of-type(2) {
				margin-right: 0;
				display: flex;
				flex-direction: column;
				align-items: flex-end;
			}
		}

		img {
			width: 190px;
		}

		h4 {
			text-transform: uppercase;
			margin: 0 0 10px 0;
		}
		.badge {
			display: inline-block;
			margin-left: 0.2em;
			padding: 2px 8px;
			background-color: #0f2168;
			color: $white;
			text-transform: none;
			font-size: 14px;
			font-family: "radikallight";
			border-radius: 5px;
			margin: 0 0 10px 0;
		}

		.btn {
			color: $primary;
			font-size: 12px;
			@include mq("md") {
				& {
					font-size: 14px;
				}
			}
		}

		p {
			font-size: 12px;
			@include mq("md") {
				& {
					font-size: 14px;
				}
			}
		}
	}

	&-dealer {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: 40px 0 40px 0;
		div {
			&:first-of-type {
				margin-right: 1em;
				span {
					width: 65px;
					height: 65px;
					border-radius: 50%;
					display: block;
					background-color: $default;
				}
			}
			&:last-of-type {
				p {
					font-size: 14px;
					font-family: "radikalmedium";
					color: $default;
					span {
						font-size: 14px;
						color: #949494;
						display: block;
						font-family: "radikallight";
					}
					small {
						color: #949494;
						display: block;
						font-family: "radikallight";
						font-size: 12px;
					}
				}
			}
		}
	}
	&-btn-group {
		.row {
			margin-right: -5px;
			margin-left: -5px;
		}
		[class*="col-"] {
			padding: 0 5px;
		}
		.btn {
			font-size: 14px;
			padding: 11.4px 32px 13px 23.8px;
			text-align: center;
			i {
				margin-right: 0.4em;
				font-size: 17px;
				position: relative;
				top: 3px;
			}
			&-icon-text {
				color: $white;
			}
			&-primary-outline {
				color: $primary;
				&:hover,
				&:focus {
					color: $white;
				}
			}
		}
	}
}

.car-details-slider {
	.swiper-slide {
		border-radius: 15px;
		overflow: hidden;
		img {
			display: block;
		}
	}
	.car-details-slider-nav {
		position: absolute;
		bottom: 0.7em;
		right: 0.2em;
		display: flex;
		flex-direction: row;
		.swiper-button-prev,
		.swiper-button-next {
			position: relative;
			top: auto;
			bottom: auto;
			left: auto;
			right: auto;
			margin: auto;
			width: 25px;
			height: 25px;
			background-color: $white;
			color: $default;
			border-radius: 50%;
			margin-right: 0.7em;
			display: flex;
			align-items: center;
			justify-content: center;
			&:after {
				font-family: "icomoon";
				font-size: 9px;
			}
			@include mq("md") {
				& {
					width: 45px;
					height: 45px;
					&:after {
						font-size: 14px;
					}
				}
			}
		}
		.swiper-button-prev {
			&:after {
				content: "\e902";
			}
		}
		.swiper-button-next {
			&:after {
				content: "\e903";
			}
		}
		.swiper-button-disabled {
			opacity: 0.9;
		}
	}
}

.car-details-slider-actions {
	position: absolute;
	bottom: 0.7em;
	left: 0.7em;
	z-index: 10;
	display: flex;
	flex-direction: row;

	a {
		display: block;
		padding: 5px 10px;
		border-radius: 6px;
		background-color: $white;
		margin-right: 0.7em;
		font-size: 11px;
		color: $default;
		@include mq("md") {
			& {
				padding: 10px 20px;
				font-size: 14px;
			}
		}
		i {
			margin-right: 0.7em;
		}
		@include transition($global-transition);
		&:hover,
		&:focus {
			background-color: $primary;
			color: $white;
		}
	}
}

.car-details-header {
	position: fixed;
	top: auto;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 160;
	background-color: $primary;
	background-image: url("../images/footer-bg.svg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	transform: translateY(100%);
	@include box-shadow(0 5px 15px 0 rgba(0, 0, 0, 0.04));
	@include transition($global-transition);

	@include mq("md") {
		& {
			top: 0;
			transform: translateY(-100%);
			bottom: auto;
		}
	}

	&.is-active {
		transform: translateY(2px);
		@include mq("md") {
			& {
				transform: translateY(0);
			}
		}
		.car-details-nav {
			display: none;
			@include mq("md") {
				& {
					display: flex;
				}
			}
		}
	}

	h4,
	h2,
	h3,
	h5,
	p {
		color: $white;
	}

	&-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 1.4em 0;
	}

	.btn {
		font-size: 14px;
		@include mq("md") {
			& {
				font-size: 14px;
			}
		}
	}

	&-left {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	&-info {
		display: none;
		@include mq("md") {
			& {
				display: block;
			}
		}
		h4 {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin: 0 0 10px 0;
			font-size: 25px;
			font-family: "radikallight";
			span {
				font-family: "radikallight";
				margin-left: 0.4em;
			}
		}

		h5 {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin: 0 0 10px 0;
			font-size: 20px;
			font-family: "radikallight";
			span {
				font-family: "radikallight";
				margin-left: 0.4em;
			}
		}

		.btn {
			color: #00b6d7;
			border-radius: 3px;
			font-family: "radikallight";
			font-size: 16px;
			&:hover,
			&:focus {
				color: $white;
			}
			i {
				margin: 0 5px;
			}
		}

		p {
			font-family: "radikallight";
			font-size: 14px;
			margin: 0;
			span {
				font-family: "radikallight";
				opacity: 0.7;
				margin-left: 0.5em;
				font-size: 85%;
			}
		}
	}

	&-dealer {
		display: none;
		flex-direction: column;
		align-items: flex-start;
		@include mq("sm") {
			& {
				display: flex;
			}
		}
		div {
			&:first-of-type {
				display: flex;
				flex-direction: row;
				align-items: center;
			}
			p {
				margin: 0;
				&:nth-of-type(2) {
					opacity: 0.7;
				}
			}
			div {
				margin-right: 0;
				margin-bottom: 0em;
				img {
					margin-right: 0.7em;
				}
			}
		}
		.btn {
			margin-top: 15px;
		}
		i {
			margin-right: 0.7em;
		}

		p {
			font-family: "radikallight";
		}
	}

	&-actions {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		@include mq("md") {
			& {
				width: auto;
			}
		}

		.btn {
			margin: 0 9px;
			@include mq("md") {
				& {
					margin: 0;
				}
			}
		}

		@include mq("md") {
			& {
				display: flex;
				.btn {
					margin-right: 1em;
				}
			}
		}

		.btn-icon-text {
			padding: 12px 19px;
			color: $white;

			i {
				margin-right: 0.5em;
				position: relative;
				top: 0px;
				left: -5px;
				font-size: 16px;
			}
			@include mq("md") {
				& {
					margin-right: 2em;
				}
			}
		}
	}
}

.car-details-nav-section {
	padding-top: 5px;
	padding-bottom: 0;
	position: relative;
	@include box-shadow(0 2px 1px 0 rgba(0, 0, 0, 0.04));
	border-top: 1px solid rgba($default, 0.1);
}

.back-to-top {
	color: $default;
	font-size: 18px;
	i {
		display: inline-block;
		position: relative;
		transform: rotate(90deg);
		font-size: 80%;
		margin-right: 0.5em;
	}
}

.car-details-nav-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	background-color: $white;
	position: relative;
	@include mq("md") {
		& {
			display: flex;
		}
	}
	&-xs {
		position: fixed;
		top: -100%;
		z-index: 130;
		left: 0;
		width: 100%;
		display: block;
		@include transition($global-transition);
		@include mq("md") {
			& {
				display: none;
			}
		}

		&.is-active {
			top: 48px;
		}
	}

	.container {
		min-width: 100%;
	}

	@media screen and (min-width: 568px) {
		.container {
			min-width: 568px;
		}
	}

	@media screen and (min-width: 768px) {
		.container {
			min-width: 768px;
		}
	}

	@media screen and (min-width: 992px) {
		.container {
			min-width: 992px;
		}
	}

	@media screen and (min-width: 1000px) {
		.container {
			min-width: 1000px;
		}
	}

	@media screen and (min-width: 1080px) {
		.container {
			min-width: 1080px;
		}
	}

	.back-to-top {
		position: relative;
		top: 0;
		left: 0;
		font-size: 14px;
		display: none;
		padding: 15px 25px;
		color: $default;
		@include transition($global-transition);

		@include mq("md") {
			& {
				display: block;
			}
		}
		i {
			display: inline-block;
			position: relative;
			transform: rotate(90deg);
			margin-right: 0.7em;
			font-size: 12px;
		}
		&:hover,
		&:focus {
			color: $primary;
		}
	}
	.car-details-nav {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;

		margin: 0;
		padding: 0;
		list-style: none;
		overflow-x: scroll;

		&::-webkit-scrollbar {
			width: 5px;
			height: 0px;
		}

		&::-webkit-scrollbar-track {
			-webkit-border-radius: 10px;
			border-radius: 10px;
		}

		&::-webkit-scrollbar-thumb {
			-webkit-border-radius: 10px;
			border-radius: 10px;
			background: $primary;
		}

		&::-webkit-scrollbar-thumb:window-inactive {
			background: $primary;
		}

		@include mq("md") {
			& {
				justify-content: flex-start;
				overflow-x: hidden;
			}
		}

		li {
			&.fc {
				display: block;
				@include mq("md") {
					& {
						display: none;
					}
				}
				a {
					color: $default !important;
					border-bottom: 1px solid transparent !important;
				}
			}
			a {
				display: block;
				font-family: "radikalregular";
				font-size: 14px;
				padding: 17px 14px;
				border-bottom: 2px solid transparent;
				color: $default;
				white-space: nowrap;
				@include transition($global-transition);

				@include mq("md") {
					& {
						padding: 17px 25px;
					}
				}

				&:hover,
				&.active {
					color: $primary;
					border-bottom: 2px solid $primary;
				}
			}
			&.active {
				a {
					color: $primary;
					border-bottom: 2px solid $primary;
				}
			}
		}
	}
}

.col-bg {
	padding: 0.1em 2em 2em 2em;
	background-color: $white;
	@include box-shadow(0 2px 1px 0 rgba(0, 0, 0, 0.04));
	h5 {
		font-size: 16px;
		text-transform: uppercase;
		font-family: "radikalbold";
	}

	@include mq("md") {
		& {
			padding: 0.1em 3em 3em 3em;
		}
	}

	h1 {
		position: relative;
		padding-left: 45px;
		&:before {
			content: "";
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			width: 15px;
			height: 90%;
			background-color: #0e1d4d;
			margin-right: 1em;
			display: block;
		}
	}
}

.car-details-info-fl {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0 0 50px 0;
	img {
		margin-right: 1.2em;
		border-radius: 50%;
	}
	p {
		color: $default;
		margin: 0;
		font-size: 15px;
		font-family: "radikalmedium";

		span {
			font-size: 13px;
			display: block;
			font-family: "radikalregular";

			i {
				color: $default;
				font-size: 20px;
				margin-left: 0.3em;
				position: relative;
				top: 4px;
				@include transition($global-transition);
				&:hover,
				&:focus {
					color: $primary;
				}
			}
		}
	}
}

.car-details-input-slider {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
	div {
		&:first-of-type {
			display: flex;
			flex-direction: row;
			align-items: center;
		}
		&:last-of-type {
			display: flex;
			flex-direction: row;
			align-items: center;
			input {
				margin-right: 0.4em;
			}
		}
	}
	.tooltip {
		margin-left: 0.5em !important;
	}
	input {
		border: 0;
		color: $default;
		display: inline-block;
		padding: 7px 10px 5px 10px;
		border-radius: 6px;
		font-size: 13px;
		font-family: "radikalbold";
		pointer-events: none;
		text-align: right;
		border: 1px solid #d9d9d9;
		border-radius: 2px;
	}
}

.car-details-mp {
	margin-top: 15px;
	.badge {
		font-size: 12px;
		display: inline-block;
		align-items: center;
		justify-content: center;
		padding: 3px 8px;
		margin: 0 0 0 10px;
		position: relative;
		top: -2px;
		background-color: #0f2168;
		border-radius: 6px;
		color: $white;
	}
	p {
		small {
			opacity: 0.6;
		}
	}
	&-header {
		background-color: $primary;
		padding: 0em 2em;
		text-align: center;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		p {
			color: $white;
			&:first-of-type {
				opacity: 0.7;
			}
			span {
				opacity: 0.7;
			}
		}
		h5 {
			color: $white;
		}
		h2 {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			color: $white;
			font-family: "radikalbold";
			span {
				display: block;
				font-size: 18px;
				margin-left: 15px;
				font-family: "radikallight";
			}
			@include mq("md") {
				& {
					flex-direction: row;
				}
			}
		}
	}
	&-body {
		padding: 1em 2em;
		img {
			width: 75%;
		}
	}
	.car-details-info-f {
		margin: 35px 0 25px 0;
	}

	&-f {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		p {
			font-size: 14px;
			font-family: "radikalregular";
			span {
				font-family: "radikalregular";
				color: $default;
			}
		}
		div {
			display: flex;
			flex-direction: row;
			align-items: center;
			.tooltip {
				margin-left: 0.7em !important;
			}
		}
		&:last-of-type {
			margin-bottom: 50px;
		}
	}

	.btn-icon-text-f {
		i {
			font-size: 11px;
			margin-left: 0.5em;
		}
	}
}

.offer-item {
	padding: 1em;
	border-radius: 6px;
	position: relative;
	border: 2px solid rgba($default, 0.1);
	@include transition($global-transition);

	p {
		font-size: 14px;
		min-height: 65px;
	}

	&-hover {
		border: 1px solid transparent;
		@include box-shadow(0px 0px 15px 3px rgba($default, 0.14));
		&:hover,
		&:focus {
			border: 1px solid $default;
			@include box-shadow(none);
		}

		p {
			text-transform: uppercase;
			margin: 0;
			font-size: 13px;
			font-family: "radikalbold" !important;
		}
	}
	.special-offer {
		position: absolute;
		top: 20px;
		right: -7px;
		background-image: url("../images/home/badge-reverse.png");
		background-repeat: no-repeat;
		background-size: contain;
		font-size: 11px;
		z-index: 10;
		padding: 2px 5px 8px 15px;
		color: $white;
		&:before {
			content: "";
			position: absolute;
			top: 23px;
			right: 0px;
			width: 0;
			height: 0;
			border-top: 10px solid #0a55c5;
			border-right: 8px solid transparent;
			z-index: 10;
		}
		span {
			position: relative;
			top: 2px;
		}
	}
	&-f {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		img {
			border-radius: 50%;
			margin-right: 0.7em;
		}
		p {
			font-size: 14px;
			color: #949494;
			min-height: auto;

			span {
				display: block;
				font-family: "radikalbold";
				color: $default;
			}
		}
	}
	.btn {
		font-size: 14px;
		padding: 12px 15px;
	}
}

.car-details-border {
	margin: 35px 0;
	border-top: 1px solid rgba($default, 0.1);
	display: none;
	@include mq("md") {
		& {
			display: block;
		}
	}
}

.car-details-table {
	margin-top: 0px;
	border-collapse: collapse;
	width: 100%;
	display: none;
	@include mq("md") {
		& {
			display: table;
		}
	}

	td {
		position: relative;
		.badge {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: -75px;

			display: inline-block;
			margin-left: 0.2em;
			padding: 2px 8px;
			background-color: #0f2168;
			color: $white;
			text-transform: none;
			font-size: 12px;
			font-family: "radikallight";
			border-radius: 5px;
			margin: 0 0 10px 0;
		}
	}

	p {
		margin: 0;
	}

	.btn {
		font-size: 12px;
		padding: 8px 10px;
		border-radius: 35px;
		white-space: nowrap;
		opacity: 0;
	}
	tr {
		&:first-of-type {
			padding-top: 15px;
			td {
				padding-top: 15px;
			}
		}
		&.opacity {
			opacity: 0.3;
		}

		&:hover {
			.btn {
				opacity: 1;
			}
		}
	}
	td {
		padding: 0 15px;

		p {
			font-size: 14px;
			margin: 0 0 8px 0;
		}
		img {
			border-radius: 50%;
		}
	}
	tbody {
		margin: 25px 0 0 0;
		tr {
			td {
				&:nth-of-type(1) {
					width: 153px;
				}
				&:nth-of-type(2) {
					width: 203px;
				}
				&:nth-of-type(3) {
					width: 103px;
				}
				&:nth-of-type(4) {
					width: 133px;
				}
				&:nth-of-type(5) {
					width: 183px;
				}
				&:nth-of-type(6) {
					width: 103px;
				}
			}
		}
	}
	thead {
		tr {
			background-color: $light;
			td {
				padding: 8px 10px;
				&:last-of-type {
					padding: 0;
				}
			}
		}
		td {
			font-family: "radikalregular";
			text-align: center;
		}
	}
}

.table-wrapper {
	width: 100%;
	overflow-x: scroll;
	@include mq("lg") {
		& {
			overflow: unset;
		}
	}
}

.estimated-payment {
	background-color: $light;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 15px 25px;
	margin: 45px 0 0 0;
	h3,
	p {
		margin: 0;
		font-size: 13px;
		@include mq("md") {
			& {
				font-size: 18px;
			}
		}
	}
}

#loan-length-format {
	width: 36px;
}

#down-payment-format {
	width: 77px;
}

#end-payment-format {
	width: 68px;
}

.fp-xs {
	display: block;
	@include mq("md") {
		& {
			display: none;
		}
	}
	&-item {
		&-img {
			display: flex;
			flex-direction: row;
			align-items: center;
			img {
				margin-right: 1em;
				border-radius: 50%;
			}
		}
		.car-details-info-fl {
			margin: 0 0 30px 0;
		}

		.btn {
			padding: 0;
		}

		&-nav {
			ul {
				display: flex;
				flex-direction: row;
				align-items: center;
				margin: 0;
				padding: 0;
				list-style: none;
				overflow-x: scroll;
				width: 100%;
				background-color: #f3f3f3;

				&::-webkit-scrollbar {
					width: 5px;
					height: 0px;
				}

				li {
					a {
						font-size: 13px;
						color: $default;
						display: flex;
						align-items: center;
						white-space: nowrap;
						padding: 10px 15px;

						.badge {
							display: inline-block;
							margin-left: 0.4em;
							padding: 2px 8px;
							background-color: #0f2168;
							color: $white;
							text-transform: none;
							font-size: 11px;
							font-family: "radikallight";
							border-radius: 5px;
							margin: 0 0 0px 8px;
							position: relative;
							top: 0px;
						}

						&.active {
							color: $primary;
							border-bottom: 1px solid $primary;
						}
					}
				}
			}
		}

		&-tabs {
			position: relative;
			min-height: 249px;
		}
		&-tab {
			position: absolute;
			top: 0;
			padding: 15px;
			left: 0;
			opacity: 0;
			visibility: hidden;
			background-color: #fcfcfc;
			@include transition($global-transition);
			&.is-active {
				opacity: 1;
				visibility: visible;
			}
		}

		&.is-active {
			.fp-xs-item-tab {
				&.is-active {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}
