.brands {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
	li {
		min-width: calc(100% / 3);
		width: calc(100% / 3);
		padding: 15px;
		&.brands-opacity {
			opacity: 0.2;
		}
		@include mq("xs") {
			& {
				min-width: calc(100% / 3);
				width: calc(100% / 3);
			}
		}
		@include mq("md") {
			& {
				min-width: calc(100% / 4);
				width: calc(100% / 4);
			}
		}
		a {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			color: $default;
			text-align: center;
			@include transition($global-transition);
			&:hover,
			&:focus {
				color: $primary;
			}
			img {
				margin-right: 0.7em;
			}
			p {
				font-size: 13px;
				width: 110px;
				@include mq("md") {
					& {
						font-size: 18px;
					}
				}
			}

			@include mq("md") {
				& {
					text-align: left;
					flex-direction: row;
				}
			}
		}
	}

	&-opacity {
		opacity: 0.2;
		@include transition($global-transition);

		&.active {
			opacity: 1;
			img {
				filter: grayscale(0);
			}
		}
	}
}

.brands-expand {
	display: block;
	margin: 0 auto;
	font-size: 18px;
	margin-top: -70px;
	position: relative;
	z-index: 1;
	@include mq("md") {
		& {
			font-size: 22px;
		}
	}

	i {
		font-size: 19px;
		position: relative;
		left: 8px;
	}
}

.spacing {
	height: 50px;
}

.section-top {
	padding-top: 50px;
	@include mq("md") {
		& {
			padding-top: 130px;
		}
	}
}

.list {
	&-links {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			a {
				display: block;
				padding: 8px 0;
				color: #1063de;
				font-size: 16px;

				@include transition($global-transition);
				&:hover,
				&:focus {
					text-decoration: underline;
				}
			}
		}
	}
}

section,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p {
	&:focus {
		outline: none;
	}
}

.search-actions-flex {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	@include mq("lg") {
		& {
			justify-content: flex-end;
		}
	}

	.search-f {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		width: auto;
		&:first-of-type {
			margin-right: 10px;
			@include mq("md") {
				& {
					margin-right: 50px;
				}
			}
		}
		@include mq("md") {
			& {
				width: 141px;
			}
		}
	}
}

.search-location {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 145px;
	.custom-select {
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 145px;
		&:after {
			position: relative;
			top: 0;
			right: auto;
			width: auto;
			height: auto;
			margin-left: 1em;
		}
	}
	select {
		padding-right: 0;
	}
}

.car-items-section {
	position: relative;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		z-index: 15;
		background-color: $light;
		@include mq("xl") {
			& {
				width: calc(((100% - 1100px) / 2) - 25px);
			}
		}
	}
}

.car-item-image-slider {
	.swiper-pagination {
		bottom: 20px;
	}
	.swiper-pagination-bullet {
		background-color: rgba($white, 0.9);
		opacity: 1;
		&-active {
			background-color: $primary;
		}
	}
}

.compare-cars {
	display: none;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 150;
	width: 90%;
	@include mq("md") {
		& {
			display: block;
			left: auto;
			transform: translateX(0);
			right: 25px;
			width: auto;
		}
	}
	a {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		padding: 8px 15px;
		font-weight: 500;
		font-size: 12px;
		line-height: 1.25;
		border-radius: 7px;
		text-align: center;
		display: flex;
		flex-direction: row;
		align-items: center;
		border-radius: 0;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		color: $white;
		background-color: #0f2066;
		i {
			&:first-of-type {
				margin-right: 15px;
			}
		}
		@include mq("md") {
			& {
				font-size: 14px;
				padding: 15px 45px;
			}
		}
		.badge {
			font-size: 12px;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 25px;
			margin: 0 15px;
			height: 25px;
			background-color: $primary;
			color: $white;
			border-radius: 50%;
		}
	}
}

.car-items-2 {
	.swiper-pagination-bullet {
		width: 6px;
		height: 6px;
	}
}

.visible-md {
	display: none;
	@include mq("md") {
		& {
			display: block;
		}
	}
}

.hidden-md {
	display: block;
	@include mq("md") {
		& {
			display: none;
		}
	}
}

.search-location {
	.options {
		left: auto;
		right: 0;
		@include mq("md") {
			& {
				left: 0;
				right: auto;
			}
		}
	}
}

.fp-expand {
	display: flex;
	@include mq("md") {
		& {
			display: none;
		}
	}
}

.car-recommendation-image {
	border-radius: 15px;
	overflow: hidden;
}

.car-recommendation-badge {
	position: absolute;
	background: $primary;
	color: $white;
	top: 15px;
	right: 35px;
	width: 75px;
	height: 75px;
	border-radius: 540%;
	display: flex;
	font-size: 18px;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	span {
		text-transform: uppercase;
		font-size: 11px;
		display: block;
	}

	@include mq("md") {
		& {
			top: 35px;
			right: 55px;
		}
	}
}

.badge-lg {
	display: inline-block;
	padding: 5px 10px;
	background-color: $primary;
	color: $white;
	font-size: 13px;
	border-radius: 3px;
	margin: 0 0 5px 0;
	@include transition($global-transition);

	&:hover,
	&:focus {
		color: $white;
		background-color: darken($primary, 15%);
	}

	@include mq("md") {
		& {
			margin: 0;
		}
	}

	&-outline {
		background-color: transparent;
		border: 1px solid $primary;
		color: $primary;
	}
}

.text-underline {
	&:hover,
	&:focus {
		text-decoration: underline;
		text-decoration-color: $default;
	}
}

.browse-by-brand-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 25px 0 0 0;
	justify-content: space-between;
	@include mq("md") {
		& {
			justify-content: flex-start;
			margin: 0;
		}
	}
	@include transition($global-transition);
	.btn {
		&:first-of-type {
			margin-right: 1.5em;
			font-size: 16px;
		}
	}

	.dropdown-c-toggle {
		border: 2px solid rgba($default, 0.1);
		@include box-shadow(none);
		@include mq("md") {
			& {
				border: 0;
				@include box-shadow(0 2px 1px 0 rgba(0, 0, 0, 0.04));
			}
		}
	}
	.dropdown-c {
		min-width: 180px;
		@include mq("md") {
			& {
				min-width: 220px;
			}
		}

		&-sm {
			min-width: auto;
			max-width: 75px;
			width: auto !important;
			.btn {
				padding: 14px 14px 14px 16px;
				border-top-right-radius: 0;
				min-height: 48px;
				border-bottom-right-radius: 0;
			}
		}
	}

	input {
		border-top-left-radius: 0 !important;
		border-bottom-left-radius: 0 !important;
	}

	&.is-active {
		position: fixed;
		z-index: 150;
		margin: 0;
		padding: 7px;
		top: 49px;
		left: 0;
		width: 100%;
		background-color: $light;
		@include mq("md") {
			& {
				position: relative;
				top: auto;
				width: auto;
				background-color: transparent;
				padding: 0;
			}
		}
	}
}

.car-recommendation-slider {
	.swiper-pagination {
		display: block;
		margin: 15px 0 5px 0;
		position: relative;
		@include mq("md") {
			& {
				display: none;
			}
		}
	}
	&.swiper-container-multirow-column > .swiper-wrapper {
		flex-direction: row;
	}
}

.d-flex {
	display: flex;
	flex-direction: row;
}

.section-before {
	position: relative;

	&:before {
		content: "OR";
		position: absolute;
		top: -45px;
		left: 50%;
		transform: translateX(-50%);
		width: 85px;
		font-weight: bold;
		font-size: 27px;
		height: 85px;
		border-radius: 50%;
		background-color: $light;
		display: flex;
		color: rgba($default, 0.4);
		align-items: center;
		justify-content: center;
	}
}
