.dropdown-c {
	position: relative;

	&-toggle {
		display: flex;
		flex-direction: row;
		align-items: center;

		color: $default;
		border-radius: 6px;
		font-size: 15px;

		background-color: $white;
		padding: 8px 15px;

		@include box-shadow(0 2px 1px 0 rgba(0, 0, 0, 0.04));

		img {
			margin-right: 0.6em;
			width: 30px;
		}

		&:after {
			position: absolute;
			right: 15px;
		}

		&:before {
			content: "\e901";
			font-family: "icomoon";
			position: absolute;
			right: 15px;
			top: 18px;
			font-size: 9px;
			@include mq("md") {
				& {
					right: 18px;
					top: 18px;
				}
			}
		}
	}

	&.primary {
		@include mq("md") {
			& {
				&:before {
					border-top: 4px solid $primary;
				}
			}
		}
	}

	&.secondary {
		@include mq("md") {
			& {
				&:before {
					border-top: 4px solid $secondary;
				}
			}
		}
	}

	.dropdown-menu {
		margin: 0;
		padding: 0;
		list-style: none;
		display: none;
		background: $white;
		max-height: 350px;
		overflow-y: scroll;

		li {
			width: 100%;

			@include mq("md") {
				& {
					width: auto;
				}
			}

			a {
				text-transform: none !important;
			}
		}
		li {
			a {
				color: $default !important;
				border-bottom: 1px dashed rgba($default, 0.05);
				padding: 9px 15px !important;
				text-transform: none !important;

				display: flex;
				flex-direction: row;
				align-items: center;

				p {
					margin: 0;
				}

				img {
					margin-right: 0.6em;
					width: 30px;
				}

				&:after {
					display: none;
				}
			}

			&:last-child {
				a {
					border-bottom: 0;
				}
			}
		}

		@include mq("md") {
			& {
				display: block;
				position: absolute;
				top: auto;
				padding: 0px;
				left: 0px;
				min-width: 15rem;
				max-height: 15rem;
				overflow-y: scroll;
				overflow-x: hidden;
				background: $white;
				border-radius: 5px;
				opacity: 0;
				visibility: hidden;
				transform: translateY(15px);
				@include box-shadow(0 0 11px rgba($black, 0.07));
				@include transition($global-transition);

				li {
					a {
						color: $default !important;
						border-bottom: 1px dashed rgba($default, 0.05);
						padding: 9px 15px !important;
						text-transform: none !important;

						display: flex;
						flex-direction: row;
						align-items: center;

						p {
							margin: 0;
						}

						img {
							margin-right: 0.6em;
							width: 30px;
						}

						&:after {
							display: none;
						}
					}

					&:last-child {
						a {
							border-bottom: 0;
						}
					}
				}
			}
		}
	}

	&.is-active {
		.dropdown-menu {
			display: block;
		}
	}

	&:hover,
	&:focus {
		@include mq("md") {
			& {
				.dropdown-menu {
					opacity: 1;
					visibility: visible;
					transform: translateY(0);
				}
			}
		}
	}

	@include mq("md") {
		& {
			&.primary {
				.dropdown-menu {
					background-color: $primary;
				}
			}
			&.secondary {
				.dropdown-menu {
					background-color: $secondary;
				}
			}
		}
	}
}

.dropdown-toggle::after {
	content: "\e901" !important;
}
