footer {
	padding: 30px 0 100px 0;
	background-color: $primary;

	background-image: url("../images/footer-bg.svg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	&.footer-xs {
		padding: 30px 0 20px 0;
		@include mq("md") {
			& {
				padding: 60px 0 30px 0;
			}
		}
	}

	@include mq("md") {
		& {
			padding: 60px 0;
		}
	}

	[class*="col-"] {
		margin: 0 0 5px 0;
		@include mq("md") {
			& {
				margin: 0;
			}
		}
	}

	.copy {
		font-family: "radikallight";
		opacity: 0.8;
		margin: 0;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	a {
		color: $white;
	}

	h4 {
		span {
			font-size: 14px;
		}
	}

	p {
		font-size: 16px;
	}

	a {
		display: block;
		margin: 0 0 15px 0;
		font-size: 15px;
		@include transition($global-transition);
		&:hover,
		&:focus {
			color: $white;
			opacity: 0.5;
		}
	}

	.footer-socials {
		margin: 25px 0 0 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		@include mq("md") {
			& {
				display: flex;
				margin: 25px 0 0 0;
				justify-content: flex-start;
			}
		}
		li {
			a {
				display: block;
				padding: 0 15px;
				@include mq("md") {
					& {
						padding: 0 15px;
					}
				}
				i {
					font-size: 25px;
				}
			}
			&:first-of-type {
				a {
					padding-left: 0;
				}
			}
		}

		&-xs {
			display: flex;
			justify-content: center;
			@include mq("md") {
				& {
					display: none;
				}
			}
		}
	}
}
