.search-location {
	margin: 15px 0 0 0;
	@include mq("md") {
		margin: 0;
	}
	span {
		opacity: 0.5;
	}
	p {
		&:hover,
		&:focus {
			text-decoration: underline;
			cursor: pointer;
		}
	}

	ul {
		li {
			span {
				opacity: 1;
			}
		}
	}
	.btn {
		background-color: transparent;
		border: 0;
		padding: 0;
		height: 25px;
		line-height: 25px;
		span {
			color: $default;
		}
	}
}

.search-form-wrapper {
	background-color: white;
	border-radius: 6px;
	padding: 13px 13px 8px 13px;
	@include box-shadow(0 2px 1px 0 rgba(0, 0, 0, 0.04));
	@include mq("md") {
		& {
			padding: 20px 20px 15px 20px;
		}
	}
}

.search-form {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: $light;
	border: 1px solid #e4e6e8;
	border-radius: 6px;

	@include mq("sm") {
		& {
			flex-direction: row;
		}
	}

	@include mq("md") {
		& {
			border: 0;
			background-color: transparent;
		}
	}

	div {
		&:first-of-type {
			width: 100%;
			@include mq("md") {
				& {
					width: 75%;
					background-color: $light;
				}
			}
		}
		&:last-of-type {
			width: 40px;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-end;
			padding: 0px;
			border-top-right-radius: 6px;
			border-bottom-right-radius: 6px;

			@include mq("md") {
				& {
					border-left: 0;
					width: 25%;
					border: 1px solid #e4e6e8;
				}
			}

			.badge {
				display: none;
				@include mq("md") {
					& {
						display: block;
					}
				}
			}
		}
	}
	input {
		border-top-left-radius: 6px;
		border-bottom-left-radius: 6px;
		outline: 0;
		border: 0;
		background-color: transparent;
		font-size: 14px;
		color: $primary;
		width: 100%;
		height: 100%;
		padding: 15px;
		padding: 5px 4px 5px 25px;
		@include placeholder {
			color: #c0c2c2;
		}
		@include mq("md") {
			& {
				padding: 15px 4px 15px 25px;
				border: 1px solid #e4e6e8;
				font-size: 16px;
			}
		}
	}
	span {
		font-size: 12px;
		color: #97999b;
		white-space: nowrap;
		display: block;
		padding: 15px 0;
		width: auto;
		background-color: $light;
		@include mq("sm") {
			& {
				width: auto;
				padding: 0;
				background-color: transparent;
				font-size: 13px;
			}
		}
		@include mq("md") {
			& {
				font-size: 14px;
			}
		}
	}
	a {
		width: 100%;
		height: 32px;
		display: flex;
		border-radius: 4px;
		font-size: 14px;
		align-items: center;
		justify-content: center;
		background-color: $primary;
		color: $white;
		@include transition($global-transition);
		&:hover,
		&:focus {
			background-color: darken($primary, 10%);
		}

		@include mq("sm") {
			& {
				height: 40px;
				width: 49px;
			}
		}
	}

	&-filter {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		margin: 5px 0 0 0;
		width: 100%;
		position: relative;
		z-index: 150;
		@include mq("md") {
			& {
				border-radius: 6px;
				background-color: $light;
				border: 1px solid #e4e6e8;
				flex-direction: row;
				justify-content: space-between;
			}
		}

		.search-filters-expand {
			font-size: 12px;
			padding: 8px 15px;
			margin-left: 0.3em;
			border-radius: 6px;
			@include mq("sm") {
				& {
					display: none;
				}
			}
		}

		.btn {
			padding: 5px 4px;
			background: transparent;
			color: $default;
			font-size: 11px;
			background-color: $primary;
			color: $white;
			&:not(.btn-primary) {
				color: $default;
				background: transparent;
			}
			@include mq("md") {
				& {
					font-size: 14px;
					padding: 10px 15px;
				}
			}
		}

		&-item {
			background-color: $light;
			position: relative;
			border: 1px solid #e4e6e8;
			@include mq("md") {
				& {
					border: 0;
					background-color: transparent;
					border-left: 1px solid #e4e6e8;
				}
			}
			&:first-of-type {
				@include mq("md") {
					& {
						border-left: 0;
					}
				}
			}

			&-btn {
				background-color: transparent;
				border: 0;
			}

			.badge {
				font-size: 10px;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 20px;
				height: 20px;
				background-color: $primary;
				color: $white;
				border-radius: 50%;
				z-index: 1;

				position: absolute;
				left: 50%;
				top: -10px;
				transform: translateX(-50%);
			}
		}

		.w-sm {
			min-width: 100%;
			width: 100%;
			@include mq("md") {
				& {
					width: calc(100% / 9.5);
				}
			}
		}
	}

	.badge {
		display: none;
		padding: 5px 12px;
		color: $white;
		background-color: #718ca8;
		border-radius: 6px;
		margin-right: 0.5em;

		@include mq("md") {
			& {
				display: block;
			}
		}

		a {
			width: auto;
			height: auto;
			font-size: 13px;
			background-color: transparent;
			display: inline;
			margin-left: 7px;
			@include transition($global-transition);
			&:hover,
			&:focus {
				opacity: 0.5;
				background-color: transparent;
			}
			@include mq("md") {
				& {
					font-size: 12px;
				}
			}
		}
	}
}

.search-form-badges-mobile {
	display: block;
	margin: 15px 0 5px 0;
	@include mq("md") {
		& {
			display: none;
		}
	}
	.badge {
		padding: 5px 12px;
		color: $white;
		background-color: #718ca8;
		border-radius: 6px;
		margin-right: 0.5em;
		font-size: 11px;

		a {
			width: auto;
			height: auto;
			font-size: 9px;
			background-color: transparent;
			display: inline;
			color: $white;
			margin-left: 7px;
			@include transition($global-transition);
			&:hover,
			&:focus {
				opacity: 0.5;
				background-color: transparent;
			}
			@include mq("md") {
				& {
					font-size: 12px;
				}
			}
		}
	}
}

.search-pagination {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
	li {
		a {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 28px;
			height: 28px;
			border-radius: 50%;
			font-size: 12px;
			color: $default;
			margin: 0 5px;
			@include transition($global-transition);
			&:hover,
			&:focus,
			&.active {
				color: $white;
				background-color: $primary;
			}

			i {
				font-size: 10px;
			}
			@include mq("md") {
				& {
					width: 37px;
					height: 37px;
					font-size: 18px;
				}
			}
		}
	}
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
	position: absolute;
	left: -9999px;
}
[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label {
	position: relative;
	padding-left: 28px;
	cursor: pointer;
	line-height: 20px;
	display: inline-block;
	color: #666;
}
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 18px;
	height: 18px;
	border: 1px solid #ddd;
	border-radius: 100%;
	background: darken($light, 5%);
}
[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after {
	content: "";
	width: 10px;
	height: 10px;
	background: $primary;
	position: absolute;
	top: 4px;
	left: 4px;
	border-radius: 100%;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
[type="checkbox"]:not(:checked) + label:after {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}
[type="checkbox"]:checked + label:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
