header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 150;
	padding: 15px 0;
	background-color: $white;
	@include box-shadow(0 5px 15px 0 rgba(0, 0, 0, 0.04));
	@include transition($global-transition);

	@include mq("md") {
		& {
			background-color: transparent;
			@include box-shadow(none);
			padding: 3em 0;
		}
	}

	.container {
		padding-right: 0;
		@include mq("md") {
			& {
				padding-right: 15px;
			}
		}
	}

	.navbar {
		display: flex;
		flex-direction: column;
		@include mq("md") {
			& {
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
			}
		}
		&-left {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			padding-left: 45px;

			@include mq("md") {
				& {
					padding-left: 0;
				}
			}

			div {
				display: flex;
				flex-direction: row;
			}

			img {
				width: 90px;
				@include mq("md") {
					& {
						width: 220px;
					}
				}

				&.desktop-logo {
					display: none;
					@include mq("md") {
						& {
							display: block;
						}
					}
				}
				&.mobile-logo {
					display: block;
					@include mq("md") {
						& {
							display: none;
						}
					}
				}
			}

			.navbar-search {
				display: none;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				border-right: 1px solid darken($primary, 5%);

				width: 57px;
				height: 57px;

				i {
					font-size: 20px;
				}

				background-color: $primary;
				color: $white;

				&:hover,
				&:focus {
					background-color: darken($primary, 5%);
				}

				@include transition($global-transition);

				@include mq("md") {
					& {
						display: none;
					}
				}
			}

			.navbar-toggler {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				position: absolute;
				left: 0;
				top: 0;

				width: 49px;
				height: 49px;
				z-index: 260;

				background-color: transparent;

				@include transition($global-transition);

				@include mq("md") {
					& {
						display: none;
					}
				}

				span {
					position: relative;
					width: 20px;
					height: 1px;
					background: $primary;
					margin: 0 0 4px 0;
					@include transition($global-transition);
				}

				&:hover,
				&:focus {
					background-color: darken($primary, 5%);
					span {
						background-color: $white;
					}
				}

				&.is-active {
					span {
						margin: 0;
						&:nth-of-type(2) {
							display: none;
						}
						&:nth-of-type(1) {
							transform: rotate(45deg);
							top: 1px;
						}
						&:nth-of-type(3) {
							width: 20px;
							transform: rotate(-45deg);
						}
					}
				}
			}
		}

		&-right {
			display: flex;
			flex-direction: row;
			align-items: center;
			&-menu {
				position: fixed;
				top: 0;
				left: 0;
				height: 100%;
				width: 80%;
				background-color: $white;
				z-index: 250;

				opacity: 0;
				visibility: hidden;
				transform: translateX(-100%);
				@include transition($global-transition);

				@include mq("md") {
					& {
						transform: translateX(0);
						transform: translateY(25px);
					}
				}

				&-xs {
					display: block;
					@include mq("md") {
						& {
							display: none;
						}
					}
				}

				&-xs-copy {
					position: fixed;
					bottom: 0;
					width: 100%;
					left: 0;
					background-color: #f0f0f0;
					padding: 17px;
					p {
						margin: 0;
					}
				}

				h4 {
					display: block;
					margin: 85px 0 15px 0;
					padding: 0 17px;
					@include mq("md") {
						& {
							display: none;
						}
					}
				}

				@include mq("md") {
					& {
						position: relative;
						top: auto;
						left: auto;
						width: auto;
						background-color: transparent;
						opacity: 1;
						visibility: visible;
						transform: translateY(0);
						display: flex;
						flex-direction: row;
						align-items: center;
					}
				}
			}

			&.is-active {
				&:before {
					content: "";
					position: fixed;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: rgba($default, 0.7);
				}
				.navbar-right-menu {
					opacity: 1;
					visibility: visible;
					transform: translateX(0);
					@include mq("md") {
						& {
							transform: translateY(0);
						}
					}
				}
			}

			&-menu {
				@include mq("lg") {
					& {
						right: -50px;
						transition: all 0.3s 0s cubic-bezier(0.3, 0, 0.7, 1);
					}
				}
				.navbar-nav {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					margin: 0;
					padding: 0;
					list-style: none;
					@include mq("lg") {
						& {
							align-items: center;
							flex-direction: row;
						}
					}
					li {
						a {
							display: block;
							color: $default;
							font-weight: 500;
							padding: 10px 17px;
							border-radius: 7px;
							font-size: 14px;
							@include transition($global-transition);
							&:hover,
							&:focus {
								color: $primary;
							}
						}
					}
				}

				&.pos {
					transition: all 0.3s 0.3s cubic-bezier(0.3, 0, 0.7, 1);
				}
			}

			&-search {
				width: 50px;
				opacity: 0;
				visibility: hidden;
				transition: width 0.1s 0.3s ease-in-out, opacity 0.3s 0.3s ease-in-out, visibility 0.3s 0.3s ease-in-out;

				display: none;
				@include mq("lg") {
					& {
						display: block;
					}
				}
				@include mq("xl") {
					& {
						margin: 0 0.5em;
					}
				}

				&-form {
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: space-between;
					background-color: #f9fafb;
					border: 1px solid #e1e3e6;
					border-radius: 6px;
					padding: 2px 2px 2px 8px;
					div {
						&:first-of-type {
							width: calc(100% - 39px);
							min-width: calc(100% - 39px);
						}
						&:last-of-type {
							width: 39px;
						}
					}
					input {
						border: 0;
						outline: 0;
						background-color: transparent;
						font-size: 14px;
						color: $primary;
						width: 100%;
						@include placeholder {
							color: #c0c2c2;
						}
					}
					a {
						width: 39px;
						height: 35px;
						display: flex;
						border-radius: 4px;
						align-items: center;
						justify-content: center;
						background-color: $primary;
						color: $white;
						@include transition($global-transition);
						&:hover,
						&:focus {
							background-color: darken($primary, 10%);
						}
					}
				}
			}

			&-actions {
				display: flex;
				flex-direction: row;
				align-items: center;

				position: absolute;
				top: 0;
				right: 0;

				height: 100%;

				@include mq("md") {
					& {
						position: relative;
						top: auto;
						right: auto;
						height: auto;
					}
				}

				@include mq("lg") {
					& {
						align-items: center;
						flex-direction: row;
					}
				}
				&-item {
					padding: 0 10px;

					@include mq("md") {
						& {
							padding: 0 15px;
						}
					}
					a {
						display: flex;
						flex-direction: row;
						align-items: center;
						color: $default;
						font-weight: 600;
						font-size: 12px;
						padding: 0px 0;
						@include mq("md") {
							& {
								padding: 0;
								font-size: 14px;
							}
						}
						@include transition($global-transition);

						i {
							@include transition($global-transition);
							&:first-of-type {
								color: $primary;
								font-size: 23px;
								margin-right: 0.5em;
							}
							&:last-of-type {
								font-size: 10px;
								position: relative;
								top: 2px;
								margin: 0 0 0 0.5em;
								display: none;
								@include mq("md") {
									& {
										display: block;
									}
								}
							}
						}

						&:hover,
						&:focus {
							color: $primary;

							i {
								color: $primary;
							}
						}
					}
					&:first-of-type {
						border-right: 1px solid #e6e5e5;
					}
				}
			}
		}
	}

	&.nav-scroll {
		@include box-shadow(0 5px 15px 0 rgba(0, 0, 0, 0.04));
		@include mq("md") {
			& {
				background-color: $white;
				padding: 2em 0;
			}
		}
		.navbar {
			&-right {
				&-menu {
					right: 0;
				}
				&-search {
					width: 225px;
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	&.nav-scroll-fixed {
		@include box-shadow(0 5px 15px 0 rgba(0, 0, 0, 0.04));
		@include mq("md") {
			& {
				background-color: $white;
				padding: 2em 0;
			}
		}
	}
}
