.brand-item {
	a {
		display: flex;
		flex-direction: row;
		align-items: center;
		img {
			margin-right: 0.7em;
			width: 40px;
		}
		p {
			font-size: 18px;
			color: $default;
			@include transition($global-transition);
		}
		&:hover,
		&:focus {
			p {
				color: $primary;
			}
		}
	}
}

.i-item {
	margin: 0 0 5px 0;

	@include mq("md") {
		& {
			margin: 0 0 40px 0;
		}
	}

	@include transition($global-transition);
	a {
		display: block;
		padding: 20px 5px;
		color: $default;
		border-radius: 10px;
		@include transition($global-transition);
		&:hover,
		&:focus {
			color: $primary;
			background-color: darken($light, 3%);
		}

		p {
			margin: 15px 0 0 0;
			font-size: 14px;
		}
	}
}

.car-items-nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	a {
		width: 32px;
		height: 32px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $white;
		@include transition($global-transition);
		@include box-shadow(0 6px 6px 0 rgba(0, 0, 0, 0.03));

		i {
			font-size: 14px;
			color: $default;
		}
		&:first-of-type {
			border-top-left-radius: 7px;
			border-bottom-left-radius: 7px;
			margin-right: 0.5em;
		}
		&:last-of-type {
			border-top-right-radius: 7px;
			border-bottom-right-radius: 7px;
		}
		&:hover,
		&:focus {
			outline: 0;
			background-color: $primary;
			i {
				color: $white;
			}
		}

		@include mq("md") {
			& {
				width: 56px;
				height: 56px;
				i {
					font-size: 20px;
				}
			}
		}
	}
}

.car-items {
	padding: 0 5px;
	.swiper-wrapper {
		padding: 2px 0;
	}
	.swiper-slide {
		@include box-shadow(0 2px 1px 0 rgba(0, 0, 0, 0.04));
		.car-item {
			margin: 0;
			@include box-shadow(none);
		}
	}
}

.car-item {
	border-radius: 7px;
	background-color: $white;
	@include box-shadow(0 2px 1px 0 rgba(0, 0, 0, 0.04));
	margin: 0 0 40px 0;
	&-image {
		img {
			width: 100%;
		}
		.car-item-image-slider {
			.swiper-wrapper {
				padding: 0;
				.swiper-slide {
					border-top-left-radius: 7px;
					border-top-right-radius: 7px;
					overflow: hidden;
				}
			}
		}

		position: relative;
		min-height: 215px;
	}

	.badge {
		position: absolute;
		top: 20px;
		left: -7px;
		background-image: url("../images/home/badge.png");
		background-repeat: no-repeat;
		background-size: contain;
		font-size: 14px;
		z-index: 10;
		padding: 2px 15px 15px 15px;
		color: $white;
		&:before {
			content: "";
			position: absolute;
			top: 25px;
			left: 0px;
			width: 0;
			height: 0;
			border-top: 10px solid #0091aa;
			border-left: 8px solid transparent;
			z-index: 10;
		}
	}

	&-actions {
		position: absolute;
		top: 20px;
		right: 20px;
		display: flex;
		flex-direction: row;
		align-items: center;
		z-index: 10;
		a {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 40px;
			height: 40px;
			background-color: $white;
			border-radius: 50%;
			color: $default;
			@include transition($global-transition);

			i {
				font-size: 15px;
			}

			&:first-of-type {
				margin-right: 0.7em;
			}

			&:hover,
			&:focus {
				background-color: $primary;
				color: $white;
			}
		}
	}

	&-details {
		padding: 15px;

		h4 {
			margin: 0;
			font-family: "radikalmedium";
		}

		p {
			margin: 0;
			font-family: "radikallight";
			font-size: 14px;
			color: #949494;
		}

		&-f {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			margin: 25px 0 25px 0;
			div {
				display: flex;
				flex-direction: row;
				align-items: center;
				&:first-of-type {
					img {
						margin-right: 0.7em;
					}
					p {
						font-size: 12px;
						color: $default;
						font-family: "radikalregular";
						span {
							font-family: "radikallight";
							color: #949494;
						}
					}
				}
			}
		}

		&-price {
			display: flex;
			flex-direction: row;
			align-items: center;
			border-top: 1px solid #e1e1e1;
			padding-top: 15px;
			span {
				font-size: 12px;
				color: #949494;
				font-family: "radikallight";
			}
			h4 {
				font-family: "radikalmedium";
			}
			div {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				width: calc(100% / 2);
				padding: 0;
				&:first-of-type {
					border-right: 1px solid #e1e1e1;
				}
			}
		}
	}
}

.browse-by-brand-item {
	position: relative;
	border-radius: 7px;
	background-color: $white;
	@include box-shadow(0 2px 1px 0 rgba(0, 0, 0, 0.04));
	margin: 0 0 40px 0;
	&-image {
		margin: 0;
		padding: 15px 15px 5px 15px;
		img {
			display: block;
		}
	}

	.browse-by-brand-item-link-xs {
		text-transform: uppercase;
		color: $primary;
		font-size: 12px;
		display: block;
		@include mq("md") {
			& {
				display: none;
			}
		}
	}

	&-content {
		padding: 15px;
		.dropdown {
			display: block;
			width: 100%;
			margin: 18px 0 18px 0;
			.btn {
				background: #f9fafb;
				font-size: 14px;
				padding: 12px 15px;
				border: 1px solid #e8eaeb;
			}
			a {
				color: $default;
				font-size: 14px;
				font-family: "radikalregular";
				&.active {
					color: $white;
				}
			}
		}

		h3 {
			margin: 0 0 5px 0;
			small {
				margin-left: 0.4em;
				font-size: 70%;
			}
		}

		p {
			margin: 0;
			font-size: 14px;
		}

		a {
			color: $primary;
			font-size: 16px;
			font-family: "radikalmedium";
		}
	}
}

.car-recommendation-item {
	position: relative;
	border-radius: 7px;
	background-color: $white;
	@include box-shadow(0 2px 1px 0 rgba(0, 0, 0, 0.04));
	margin: 10px;

	&-image {
		margin: 0;
		padding: 15px 15px 5px 15px;
		img {
			display: block;
		}
		span {
			position: absolute;
			top: 30px;
			right: 40px;
			width: 65px;
			height: 65px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			background-color: $white;
			color: $default;
			font-size: 9px;
			text-transform: uppercase;
			b {
				font-size: 16px;
			}
		}
	}

	&-content {
		padding: 15px;
		.dropdown {
			display: block;
			width: 100%;
			margin: 0 0 18px 0;
			.btn {
				background: #f9fafb;
				padding: 12px 15px;
				border: 1px solid #e8eaeb;
			}
			a {
				color: $default;
				font-size: 14px;
				font-family: "radikalregular";
				&.active {
					color: $white;
				}
			}
		}

		h3 {
			margin: 0 0 18px 0;
			small {
				margin-left: 0.4em;
				font-size: 70%;
			}
		}

		p {
			margin: 0;
			opacity: 0.7;
		}

		a {
			color: $primary;
			font-size: 16px;
			font-family: "radikalmedium";
		}
	}
}

.rate-item {
	border-radius: 7px;
	background-color: $white;
	padding: 25px 25px 45px 25px;
	text-align: center;
	@include box-shadow(0 2px 1px 0 rgba(0, 0, 0, 0.04));

	fieldset {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: center;
		border: 0;
		margin: 0 0 25px 0;
		outline: none;
	}

	.rating:not(:checked) > input {
		position: absolute;
		top: -99999px;
		display: none;
		clip: rect(0, 0, 0, 0);
	}

	.rating:not(:checked) > label {
		&:before {
			content: "\e900";
			font-family: "icomoon";
			font-size: 25px;
			color: $primary;
			margin: 0 10px;
		}
	}

	.rating > input:checked ~ label {
		color: $primary;
		&:before {
			content: "\e913";
		}
	}

	.rating:not(:checked) > label:hover,
	.rating:not(:checked) > label:hover ~ label {
		color: $primary;
	}

	.rating > input:checked + label:hover,
	.rating > input:checked + label:hover ~ label,
	.rating > input:checked ~ label:hover,
	.rating > input:checked ~ label:hover ~ label,
	.rating > label:hover ~ input:checked ~ label {
		&:before {
			content: "\e913";
		}
	}

	.rating > label:active {
		position: relative;
		top: 2px;
		left: 2px;
	}

	svg {
		width: 25px;
	}
}

.car-research-item {
	border-radius: 7px;
	background-color: $white;
	padding: 15px;
	height: 100%;
	@include box-shadow(0 2px 1px 0 rgba(0, 0, 0, 0.04));

	@include mq("md") {
		& {
			padding: 45px;
		}
	}

	h2 {
		margin: 0 0 25px 0;
	}

	form {
		label {
			display: block;
			opacity: 0;
			margin: 0 0 10px 0;
		}
		.dropdown {
			width: 100% !important;
			.btn {
				border: 1px solid #edeff0 !important;
				background-color: $light !important;
			}
		}
	}

	svg {
		width: 25px;
	}
}

.compare-items {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;

	.compare-item {
		width: 100%;
		position: relative;
		margin: 0 0 15px 0;
		padding: 0 0 30px 0;
		border-bottom: 1px solid rgba($default, 0.1);

		&:last-of-type {
			border-bottom: 0;
			margin: 0;
			padding: 0;
			@include mq("md") {
				& {
					margin: 0 0 15px 0;
					padding: 0 0 30px 0;
				}
			}
		}

		&:nth-of-type(3),
		&:nth-of-type(4) {
			.compare-item-content {
				display: none;
				@include mq("md") {
					& {
						display: block;
					}
				}
			}
			h4 {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				margin: 15px 0 0 0;
				&:after {
					content: "+";
					font-size: 25px;
					color: $default;
				}
				@include mq("md") {
					& {
						&:after {
							display: none;
						}
					}
				}

				&.active {
					&:after {
						content: "-";
					}
				}
			}
		}

		@include mq("md") {
			& {
				border-bottom: 0;
				width: calc(100% / 4 - 100px);
			}
		}

		&:after {
			content: "VS";
			position: absolute;
			top: 59%;
			right: -100px;
			transform: translateY(-50%);
			width: 55px;
			font-weight: bold;
			font-size: 22px;
			height: 55px;
			border-radius: 50%;
			background-color: $light;
			display: none;
			color: rgba($default, 0.4);
			align-items: center;
			border: 1px solid #edeff0;
			justify-content: center;

			@include mq("md") {
				& {
					display: flex;
				}
			}
		}

		&:last-of-type {
			&:after {
				display: none;
			}
		}

		label {
			display: block;
			font-family: "radikalbold";
			margin: 25px 0 5px 0;
		}

		.dropdown {
			min-width: 100%;
			@include mq("md") {
				& {
					min-width: 169px;
				}
			}
			.btn {
				background-color: $light;
			}
		}
	}
}

.review-item {
	background-color: $white;
	border: 1px solid rgba(#d9d9d9, 0.28);
	padding: 15px;
	border-radius: 6px;
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	margin: 0 0 30px 0;
	@include box-shadow(0 2px 1px 0 rgba(0, 0, 0, 0.04));

	&-image {
		margin-right: 15px;
		img {
			display: block;
			border-radius: 6px;
		}
	}

	&-content {
		p {
			margin: 0 0 5px 0;
			&:first-of-type {
				opacity: 0.7;
			}
			&:last-of-type {
				margin: 0;
			}
		}
	}

	&-rate {
		position: absolute;
		top: 15px;
		right: 15px;
		ul {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				display: block;
				margin: 0 4px;
				color: $primary;
			}
		}
	}

	&-lg {
		flex-direction: column;
		.review-item-top {
			display: flex;
			flex-direction: row;
			margin: 0 0 15px 0;
		}

		.review-item-bottom {
			position: relative;
			border-radius: 6px;
			overflow: hidden;
			a {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: 35px;
			}
		}
	}
}
