.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 300;

	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	visibility: hidden;
	@include transition($global-transition);
	&.is-active {
		opacity: 1;
		visibility: visible;
	}

	@include mq("md") {
		& {
			align-items: center;
			justify-content: center;
		}
	}

	.modal-body {
		height: 100%;
		width: 91%;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		@include mq("md") {
			& {
				height: auto;
				width: 100%;
			}
		}
	}

	.modal-offer {
		position: absolute;
		right: -46px;
		top: 22px;
		display: block;
		padding: 10px 55px 10px 65px;
		background-color: $default;
		color: $white;
		transform: rotate(45deg);
	}

	h5 {
		font-size: 22px;
		font-family: "radikalbold";
	}

	h1 {
		margin-top: 0;
	}

	&-header {
		position: relative;
		z-index: 1;
		width: 100%;
		.container {
			background-color: $white;
			padding: 20px 20px 0 20px;
			border-top-left-radius: 6px;
			border-top-right-radius: 6px;
			position: relative;
			z-index: 2;
			@include mq("md") {
				& {
					padding: 35px 35px 0 35px;
				}
			}
		}

		&-radius {
			.container {
				border-radius: 6px;
				padding: 35px;
			}
		}
	}

	p {
		&.lead {
			font-size: 14px;
			@include mq("md") {
				& {
					font-size: 18px;
				}
			}
		}
	}

	.container {
		max-width: 100%;
		min-width: 100%;
		margin: 0 auto;
	}

	@media screen and (min-width: 568px) {
		.container {
			max-width: 568px;
			min-width: 568px;
		}
	}

	@media screen and (min-width: 768px) {
		.container {
			max-width: 768px;
			min-width: 768px;
		}
	}

	@media screen and (min-width: 992px) {
		.container {
			max-width: 992px;
			min-width: 992px;
		}
	}

	@media screen and (min-width: 1000px) {
		.container {
			max-width: 1000px;
			min-width: 1000px;
		}
	}

	@media screen and (min-width: 1180px) {
		.container {
			max-width: 1180px;
			min-width: 1180px;
		}
	}

	&-sm {
		@media screen and (min-width: 768px) {
			.container {
				max-width: 468px;
				min-width: 468px;
			}
		}

		@media screen and (min-width: 992px) {
			.container {
				max-width: 468px;
				min-width: 468px;
			}
		}

		@media screen and (min-width: 1000px) {
			.container {
				max-width: 468px;
				min-width: 468px;
			}
		}

		@media screen and (min-width: 1180px) {
			.container {
				max-width: 468px;
				min-width: 468px;
			}
		}
	}

	.modal-close {
		position: fixed;
		right: 0;
		top: 0;
		z-index: 2;

		@include mq("lg") {
			& {
				position: absolute;
				right: 85px;
				top: 85px;
			}
		}
		a {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 45px;
			height: 45px;
			background-color: $primary;
			color: $white;
			font-size: 15px;
			@include transition($global-transition);

			&:hover,
			&:focus {
				color: $white;
			}

			@include mq("lg") {
				& {
					width: 35px;
					height: 35px;
					font-size: 25px;
					background-color: transparent;
					color: $white;
					&:hover,
					&:focus {
						color: $primary;
					}
				}
			}
		}
	}
	&:before {
		content: "";
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($default, 0.5);
		backdrop-filter: blur(1px);
	}

	.modal-content {
		@include mq("md") {
			& {
				height: 90%;
			}
		}
		.container {
			background-color: $white;
			padding: 0 20px 20px 20px;
			border-bottom-left-radius: 6px;
			border-bottom-right-radius: 6px;
			position: relative;
			z-index: 2;
			@include mq("md") {
				& {
					padding: 35px 35px 0 35px;
				}
			}
		}

		h1 {
			&:after {
				content: "";
				display: block;
				margin: 15px auto;
				background-color: $default;
				width: 80px;
				height: 3px;
			}
		}
	}
	.accordion {
		border: 0;
		&-item {
			border: 0;
			&:after {
				content: "+";
				color: $default;
				font-size: 35px;
				font-family: "radikalbold";
			}
			&.is-active {
				&:after {
					content: "-";
					color: $default;
					font-size: 35px;
					transform: rotate(0);
				}
			}
			&:last-of-type {
				border: 0;
			}
		}
	}

	label {
		display: block;
		margin: 25px 0 10px 0;
	}

	input[type="text"],
	input[type="email"] {
		@include box-shadow(none !important);
		min-height: 48px !important;
		max-height: 48px !important;
	}

	.form-control {
		display: block;
		padding: 15px 15px;
		background-color: $light;
		border: 1px solid #edeff0;
		border-radius: 3px;
		font-size: 14px;
		width: 100%;
		&:focus {
			outline: none;
		}
		@include placeholder {
			color: $default;
			opacity: 0.2;
		}
	}

	.dropdown {
		width: 100% !important;
		.btn {
			border: 1px solid #edeff0 !important;
			background-color: $light !important;
			border-right: 0 !important;
			@include mq("md") {
				& {
					border: 1px solid #edeff0 !important;
				}
			}
		}

		&-c-sm {
			max-width: 80px;
			.btn {
				padding: 14px 10px;
				min-height: 48px !important;
				max-height: 48px !important;
				border-top-right-radius: 0 !important;
				border-bottom-right-radius: 0 !important;
			}
		}
	}

	&-sm {
		.modal-content {
			.container {
				padding: 0 35px 35px 35px;
				@include mq("md") {
					& {
						padding: 0 55px 55px 55px;
					}
				}
			}
		}
	}
}
