.noUi-target {
	border: 0;
	border-radius: 35px;
	background-color: #eceff2;
	@include box-shadow(none !important);
}
.noUi-horizontal {
	height: 10px;
}
.noUi-horizontal .noUi-handle {
	border-radius: 50%;
	width: 20px;
	height: 20px;
	border: 4px solid $primary;
	top: -5px;
	@include box-shadow(none !important);
	&:before,
	&:after {
		background-color: transparent;
	}
	&:focus {
		outline: none;
	}
}

.noUi-connect {
	background: rgb(16, 99, 222);
	border-radius: 35px;
	background: -moz-linear-gradient(left, rgba(16, 99, 222, 1) 0%, rgba(33, 123, 255, 1) 100%);
	background: -webkit-linear-gradient(left, rgba(16, 99, 222, 1) 0%, rgba(33, 123, 255, 1) 100%);
	background: linear-gradient(to right, rgba(16, 99, 222, 1) 0%, rgba(33, 123, 255, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1063de', endColorstr='#217bff',GradientType=1 );
}
