.page-header {
	padding-top: 8vh;
	padding-bottom: 129px;
	background-image: linear-gradient(to bottom, #ffffff 43%, #f1f3f5 117%);

	@include mq("xs") {
		& {
			padding-top: 14vh;
		}
	}

	@include mq("md") {
		& {
			padding-bottom: 250px;
		}
	}

	h1 {
		position: relative;
		font-family: "radikallight";
		font-size: 32px;
		@include mq("lg") {
			& {
				font-size: 40px;
			}
		}
		strong {
			font-size: 125%;
			display: block;
			@include mq("md") {
				& {
					display: inline-block;
				}
			}
		}
		&:after {
			content: "";
			width: 80%;
			height: 51px;
			background-image: url("../images/shapes/shape-1.svg");
			background-repeat: no-repeat;
			background-size: contain;
			display: block;
			margin: 15px auto 0px auto;
			@include mq("xs") {
				& {
					margin: 15px 0 65px auto;
				}
			}
			@include mq("md") {
				& {
					width: 50%;
					height: 51px;
				}
			}
		}
	}

	&-form {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		background-color: white;
		border: 1px solid #e1e3e6;
		border-radius: 6px;
		padding: 0;

		@include mq("xs") {
			& {
				padding: 4px 3px 4px 35px;
			}
		}

		div {
			&:first-of-type {
				width: calc(100% - 51px);
				@include mq("xs") {
					& {
						width: calc(65% - 39px);
						min-width: calc(65% - 39px);
					}
				}
				@include mq("md") {
					& {
						width: calc(75% - 39px);
						min-width: calc(75% - 39px);
					}
				}
			}
			&:nth-of-type(2) {
				display: none;
				@include mq("xs") {
					& {
						display: block;
						width: auto;
					}
				}
			}
			&:last-of-type {
				width: 46px;
				@include mq("xs") {
					& {
						width: 51px;
					}
				}
			}
		}
		input {
			border: 0;
			outline: 0;
			background-color: transparent;
			font-size: 14px;
			color: $primary;
			width: 100%;
			padding: 8px 15px;
			@include placeholder {
				color: #c0c2c2;
			}
			@include mq("xs") {
				& {
					padding: 0;
				}
			}

			@include mq("md") {
				& {
					font-size: 17px;
				}
			}
		}
		span {
			font-size: 16px;
			color: #97999b;
			white-space: nowrap;
			display: block;
			padding: 15px 0;
			width: 100%;
			background-color: $light;
			@include mq("xs") {
				& {
					width: auto;
					padding: 0;
					background-color: transparent;
					font-size: 13px;
				}
			}
			@include mq("md") {
				& {
					font-size: 16px;
				}
			}
		}
		a {
			width: 100%;
			height: 37px;
			display: flex;
			border-radius: 4px;
			font-size: 14px;
			align-items: center;
			justify-content: center;
			background-color: $primary;
			color: $white;
			@include transition($global-transition);
			&:hover,
			&:focus {
				background-color: darken($primary, 10%);
			}

			@include mq("xs") {
				& {
					width: 49px;
					height: 49px;
				}
			}
			@include mq("md") {
				& {
					font-size: 18px;
				}
			}
		}
	}

	&-quick-search {
		display: flex;
		flex-direction: row;
		align-items: center;
		@include mq("md") {
			& {
				flex-direction: row;
			}
		}
		p {
			font-size: 15px;
			font-family: "radikallight";
			color: #303236;
		}
		ul {
			display: flex;
			flex-direction: row;
			align-items: center;
			flex-wrap: wrap;
			margin: 15px 0 0 0;
			padding: 0;
			list-style: none;
			li {
				display: block;
				padding: 0 10px 0 0;
				p {
					margin: 0;
					font-size: 12px;
					@include mq("md") {
						& {
							font-size: 15px;
						}
					}
				}
				a {
					display: block;
					font-size: 12px;
					font-family: "radikalregular";
					text-decoration: underline;
					color: $default;
					@include transition($global-transition);
					&:hover,
					&:focus {
						color: $primary;
						text-decoration: none;
					}
					@include mq("md") {
						& {
							font-size: 15px;
						}
					}
				}
			}
		}
	}
}
