.section {
	padding: 20px 0;
	@include mq("md") {
		& {
			padding: 40px 0;
		}
	}
}

.section-overlay {
	padding: 20px 0;
	margin-top: -106px;
	@include mq("lg") {
		& {
			padding: 40px 0;
			margin-top: -225px;
		}
	}

	.btn {
		padding: 10px 11px;
		font-size: 13px;
		@include mq("md") {
			& {
				font-size: 14px;
			}
		}
	}
}

.section-blur {
	position: relative;
	height: 450px;
	overflow: hidden;
	background-image: url("../images/car-details/car-details-logged-out.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	@include mq("md") {
		& {
			height: 650px;
		}
	}

	.container,
	.row {
		height: 100%;
	}

	h1 {
		margin: 0 0 15px 0;
	}
	h3 {
		margin: 15px 0 15px 0;
	}

	.btn {
		display: inline-block;
		padding: 15px 85px;
	}
}
