.steps-nav {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	&-loader {
		position: absolute;
		top: -25px;
		left: 33px;
		width: 0;
		height: 5px;
		background-color: $primary;
		opacity: 1;
		@include transition($global-transition);
		@include mq("md") {
			& {
				opacity: 1;
				left: 120px;
			}
		}
	}
	&:before {
		content: "";
		position: absolute;
		top: -25px;
		left: 50%;
		transform: translateX(-50%);
		width: 75%;
		height: 5px;
		background-color: #e6e6e6;
	}
	&-item {
		width: calc(100% / 4);

		display: flex;
		justify-content: center;

		font-size: 13px;

		position: relative;
		z-index: 1;

		&:before {
			content: "";
			position: absolute;
			top: -31px;

			left: 50%;
			transform: translateX(-50%);

			width: 15px;
			height: 15px;
			border-radius: 50%;
			background-color: #e6e6e6;
			@include transition($global-transition);
			transition-delay: 0.1s;
		}

		&.active {
			&:before {
				content: "";
				width: 25px;
				height: 25px;
				background-color: $primary;
				top: -35px;
				font-family: "radikalbold";
			}
		}

		&.b {
			font-family: "radikalbold";
		}
	}
}

.steps-items {
	margin: 25px 0 15px 0;
	position: relative;
	height: 900px;
	@include mq("md") {
		& {
			margin: 45px 0 85px 0;
			height: 530px;
		}
	}
	.hidden-box {
		position: absolute;
		top: -9999px;
		left: -9999px;
		appearance: none;
		opacity: 0;
		display: none;
	}

	.steps-item {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: auto;

		background-color: white;
		border-radius: 15px;
		padding: 25px 15px;
		text-align: center;
		opacity: 0;
		visibility: hidden;
		@include box-shadow(0 2px 1px rgba($black, 0.04));
		@include transition($global-transition);

		@include mq("md") {
			& {
				padding: 45px;
			}
		}

		&.w-100 {
			width: 100%;
		}

		&.w-70 {
			width: 100% !important;
			@include mq("md") {
				& {
					width: 70%;
				}
			}
		}

		&.active {
			opacity: 1;
			visibility: visible;
		}

		p {
			opacity: 0.6;
		}

		h2 {
			margin-top: 0;
		}

		.attributes-item {
			display: inline-block;
			width: 100%;
			@include mq("md") {
				& {
					width: calc(100% / 2 - 20px);
				}
			}
			label {
				display: flex;
				flex-direction: row;
				align-items: center;
				border-radius: 6px;
				padding: 15px;
				margin: 20px 0px 0 0;
				border: 1px solid rgba(#707070, 0.2);

				@include mq("md") {
					& {
						margin: 20px 20px 0 0;
					}
				}

				&:before,
				&:after {
					display: none;
				}
				img {
					border-radius: 50%;
					margin-right: 1em;
				}

				p {
					color: $default;
					font-size: 14px;
					opacity: 1;
					position: relative;
					margin: 0;
					@include mq("md") {
						& {
							font-size: 16px;
						}
					}
				}

				&.active {
					border: 1px solid $primary;
					p {
						color: $primary;
					}
				}

				span {
					width: 20px;
					height: 20px;
					position: absolute;
					top: -10px;
					right: -35px;
					background-color: $primary;
					border-radius: 50%;
					color: $white;
					font-size: 11px;
					display: none;
				}
			}
		}
	}

	#price-range-slider {
		max-width: 77%;
		margin: 0 auto;
		@include mq("md") {
			& {
				max-width: 97%;
			}
		}
	}

	.btn {
		padding: 10px 65px;
		font-size: 16px;
		position: relative;
		margin: 15px 0 15px 0;
		&:first-of-type {
			margin: 25px 0 0 0;
		}

		@include mq("md") {
			& {
				left: -10px;
				margin: 35px 0 0 0;
				&:first-of-type {
					margin: 35px 15px 0 0;
				}
			}
		}
	}

	.hidden-box {
		position: absolute;
		top: -9999px;
		left: -9999px;
		appearance: none;
		opacity: 0;

		&:checked + label {
			border: 1px solid $primary;
			p {
				color: $primary;
			}
		}
	}
}
