.tooltip {
	position: relative;
	display: inline-block;
	margin: 0 !important;
	&-link {
		width: 20px;
		height: 20px;
		min-width: 20px;
		min-height: 20px;
		border: 1px solid $default;
		display: flex;
		align-items: center;
		border-radius: 50%;
		color: $default;
		justify-content: center;
		font-family: "radikalbold";
	}

	&-hover {
		position: absolute;
		padding: 15px;
		background-color: #ececec;
		border-radius: 15px;
		right: auto;
		opacity: 0;
		visibility: hidden;
		min-width: 12rem;
		z-index: 150;
		top: 17px;
		@include mq("md") {
			& {
				top: 37px;
				right: -25px;
				min-width: 16rem;
			}
		}
		@include transition($global-transition);
		p {
			margin: 0;
			font-size: 14px;
			font-family: "radikalregular" !important;
		}
		&:before {
			content: "";
			position: absolute;
			right: 15px;
			top: -10px;
			width: 0;
			height: 0;
			border-left: 20px solid transparent;
			border-right: 20px solid transparent;
			border-bottom: 20px solid #ececec;
			opacity: 0;
			@include mq("md") {
				& {
					opacity: 1;
				}
			}
		}
		a {
			text-decoration: underline;
		}
	}
	&:hover,
	&:focus {
		.tooltip-hover {
			opacity: 1;
			visibility: visible;
		}
	}
}
