* {
	&:after,
	&:before {
		@include border-box;
	}

	@include border-box;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: $primary;
}

::-webkit-scrollbar-thumb:window-inactive {
	background: $primary;
}

html {
	font-family: sans-serif;
	line-height: 1.15;

	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	font-family: $font-family-base;
	font-weight: $font-weight-base;
	font-style: normal;
	font-size: $font-size-base;

	line-height: $line-height-base;
	letter-spacing: $letter-spacing-base;

	color: $default;

	margin: 0;

	text-align: left;

	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	width: 100%;
	overflow-x: hidden;
}

a {
	color: $primary;

	&:hover,
	&:focus {
		color: darken($primary, 15%);
	}
}

@each $modifier, $breakpoint in $grid-breakpoints {
	@include make-spacers($modifier, $breakpoint, $spacers);
}

.container-fluid {
	max-width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}

@each $modifier, $breakpoint in $grid-breakpoints {
	@include make-container($breakpoint);
}

@each $name, $value in $colors {
	@include text-color($name, $value);
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
	@include mq("md") {
		& {
			margin-right: -25px;
			margin-left: -25px;
		}
	}

	&.row-reverse {
		flex-direction: column-reverse;
		@include mq("md") {
			& {
				flex-direction: row;
			}
		}
	}
}

.row-wrap {
	flex-direction: row;
	flex-wrap: unset;
	width: 100%;
	overflow-x: scroll;
	&::-webkit-scrollbar {
		width: 5px;
		height: 0px;
	}

	&::-webkit-scrollbar-track {
		-webkit-border-radius: 10px;
		border-radius: 10px;
	}

	&::-webkit-scrollbar-thumb {
		-webkit-border-radius: 10px;
		border-radius: 10px;
		background: $primary;
	}

	&::-webkit-scrollbar-thumb:window-inactive {
		background: $primary;
	}
}

.row-xs {
	margin-left: -5px;
	margin-right: -5px;
	@include mq("md") {
		& {
			margin-right: -15px;
			margin-left: -15px;
		}
	}

	[class*="col-"] {
		padding-right: 5px;
		padding-left: 5px;
		@include mq("md") {
			& {
				padding-right: 15px;
				padding-left: 15px;
			}
		}
	}

	&-p {
		margin-left: 5px;
		margin-right: 5px;
	}
}

[class*="col-"] {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	@include mq("md") {
		& {
			padding-right: 25px;
			padding-left: 25px;
		}
	}
}

.row-sm {
	@include mq("md") {
		padding-left: 30px;
		padding-right: 30px;
	}
	[class*="col-"] {
		padding-right: 15px;
		padding-left: 15px;
		@include mq("md") {
			& {
				padding-right: 15px;
				padding-left: 15px;
			}
		}
	}
}

@each $modifier, $breakpoint in $grid-breakpoints {
	@include make-columns($modifier, $grid-columns, $breakpoint);
	@include make-column-offset($modifier, $grid-columns, $breakpoint);
}

@include make-widths($width);

.align-self-center {
	align-self: center;
}

.justify-self-center {
	justify-self: center;
}

.align-content-center {
	align-content: center;
}

.justify-content-center {
	justify-content: center;
}

.align-items-center {
	align-items: center;
}

.justify-items-center {
	justify-items: center;
}

.img-fluid {
	max-width: 100%;
	margin: 0;
}

@each $modifier, $breakpoint in $grid-breakpoints {
	@include make-alignment($modifier, $breakpoint, align);
}

@each $color, $value in $colors {
	.bg-#{$color} {
		background-color: $value !important;
	}
}

@each $color, $value in $colors {
	.text-#{$color} {
		color: $value !important;
	}
}

.shadow-sm {
	@include box-shadow($box-shadow-sm);
}

.shadow-md {
	@include box-shadow($box-shadow-md);
}

.shadow-lg {
	@include box-shadow($box-shadow-lg);
}

b,
strong {
	font-weight: normal;
	font-family: "radikalmedium";
}
